body { margin: 0;
       padding: 0;
       font-family: monospace;
}

.preload {
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.logo {
    width: 300px;
    height: 300px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}

/*Animated Button*/
.startButton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.startButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.startButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.startButton:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#Header {
    background-color: darkcyan;
    width: 100%;
    height: 20%;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5.5px;
}

#Content {
    background-color: cyan;
    height: 100vh;
    margin: 0px;
}

* { /* All content on the page */
    margin-right: 10px;
}